<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPixEditWebService" openTimeout="00:01:10" receiveTimeout="00:01:10" sendTimeout="00:01:10" maxBufferPoolSize="16777216" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                    <readerQuotas maxArrayLength="1048576" maxStringContentLength="1048576"/>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPixEditWebServiceSimplex" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://tsws19:8080/PixEditWebService" binding="netTcpBinding" 
                bindingConfiguration="NetTcpBinding_IPixEditWebService" contract="PixEditWebServiceReference.IPixEditWebService"
                name="NetTcpBinding_IPixEditWebService" />
            <endpoint address="http://tsws19:8180/PixEditWebService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IPixEditWebServiceSimplex"
                contract="PixEditWebServiceReference.IPixEditWebServiceSimplex"
                name="WSHttpBinding_IPixEditWebServiceSimplex" />
           
        </client>
    </system.serviceModel>
</configuration>